@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #06240c;
$secondary-color: #426247;
$third-color: #24432a;
$danger-color: #cc2649;
$white: #ffffff;
$black: #000000;